<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Software Developer living in Toronto</h2>
                <hr class="light">
                <p class="text-faded">I started programming when I was in my teens, hacking together terrible fan fiction web sites. I graduated with a Bachelor of Science in Computer Engineering and Computer Science & moved to Toronto in 2010 to pursue my Master's. My thesis was on how older adults with chronic pain use technology to communicate with their loved ones, and my HCI background has been influential in my professional career.</p>
                <p class="text-faded">My career started in consulting, where I learned all about the wonders of data. From SQL data warehouses to Hadoop cluster administration, I went on a data engineering and devops-related journey. It's landed me at Elastic where I'm a security data engineer.</p>
                <p class="text-faded">I stopped doing front-end development a while ago. Does it show?</p>
            </div>
        </div>
    </div>
</section>
