<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">say hi</h2>
                <hr class="primary">
                <p>Find me on the internet!</p>
            </div>
        <div class="col-lg-1 col-lg-offset-4 text-center">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_url }}/">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>LinkedIn</p>
            </a>
        </div>
        <div class="col-lg-1 col-lg-offset-2 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
