<section id="stuff_i_like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Stuff I Like</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-headphones wow bounceIn text-primary"></i>
                    <h3>Good Tunes</h3>
                    <p class="text-muted">Check out the playlist I listened to while making this site below!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-music wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Bass Guitar</h3>
                    <p class="text-muted">I'm not very good but it's fun!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paw wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Our cats</h3>
                    <p class="text-muted">All cats are the best cats, but especially ours, and yours are, too!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Crafty Things</h3>
                    <p class="text-muted">I cross stitch and dabble in the wood shop.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <p><iframe src="https://open.spotify.com/embed/playlist/4vcA5j5IZgQ0v4IF9EBhsu" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p>
            </div>
        </div>
    </div>
</section>
